* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

body {
  overflow: visible;
}
body .fixed {
  background: rgb(92, 1, 1);
  color: white;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 48px;
  right: 31px;
  bottom: 18px;
  font-size: 25px;
  border-radius: 50%;
  position: fixed;
  display: block;
  z-index: 99999999;
}
body .load {
  display: grid;
  place-items: center;
  position: fixed;
  background-color: black;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 99999999;
  animation-name: loading;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@media all and (max-width: 480px) {
  body .load {
    height: 100%;
  }
}
@keyframes loading {
  from {
    opacity: 1;
    visibility: visible;
  }
  90% {
    opacity: 1;
    visibility: visible;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
nav {
  position: sticky;
  top: 0;
  z-index: 9999;
  padding: 13px 0;
  display: flex;
  width: 100%;
  background-image: url(../img/nav1.jpg);
  background-position: top;
  background-size: cover;
}
nav .ul-nav-parent > li > a {
  font-size: 26px;
  font-weight: bold;
}
nav .ul-nav-parent > li > a:hover {
  color: black;
}
nav .menu > a {
  padding: 45px;
}
nav .left-nav,
nav .center-nav,
nav .right-nav {
  display: flex;
  width: 44%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
nav .hot {
  position: absolute;
  background-color: rgb(196, 5, 5);
  padding: 5px;
  border-radius: 7px;
  bottom: 65%;
  left: 50%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
  font-size: 17px;
  color: rgb(255, 255, 255);
}
nav .ul-opacity-menu {
  border-top: 5px solid rgba(196, 5, 5, 0.939);
  padding: 20px 0;
  width: 250px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 132.5px;
  gap: 10px;
  transform: translateY(-20px);
  text-align: left;
  background-color: rgba(79, 71, 68, 0.591);
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
}
nav .ul-opacity-menu .bi-caret-right-square-fill {
  color: rgba(232, 10, 10, 0.689);
  vertical-align: top;
  margin-left: 10px;
}
nav .ul-opacity-menu .triangle {
  color: rgba(196, 5, 5, 0.939);
  top: -42px;
  left: 30px;
  position: absolute;
  font-size: 25px;
}
nav .ul-opacity-menu .relative {
  position: relative;
}
nav .ul-opacity-menu a {
  font-size: 25px;
  padding: 10px;
  display: block;
}
nav .ul-opacity-menu a:hover {
  background-color: rgba(128, 128, 128, 0.21);
}
nav .ul-opacity-menu .child-of-ul-opacity {
  border-top: 5px solid rgba(196, 5, 5, 0.939);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 209px;
  height: 180px;
  background-color: rgba(79, 71, 68, 0.591);
  padding: 0 10px;
  position: absolute;
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(50%);
  top: -25px;
}
nav .ul-opacity-menu .child-of-ul-opacity a {
  font-size: 22px;
  padding: 25px 10px;
  display: block;
}
nav .ul-opacity-menu .child-of-ul-opacity a:hover {
  background-color: rgba(128, 128, 128, 0.21);
}
nav .sub-menu-parent:hover .ul-opacity-menu {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
nav .sub-menu-parent-1:hover .child-of-ul-opacity {
  transform: translate(0);
  opacity: 1;
  visibility: visible;
}
nav img {
  width: 200px;
  display: block;
}
nav .ul-nav-parent {
  display: flex;
  position: relative;
}
nav a {
  color: white;
}
nav .right-nav {
  font-size: 25px;
  display: flex;
  gap: 35px;
  color: white;
}
nav .right-nav .bi:hover {
  color: black;
}
nav .burger {
  display: none;
}
nav .burger .bi-list {
  font-size: 30px;
  color: white;
  position: absolute;
  top: 40%;
  right: 5%;
  cursor: pointer;
}
nav .burger #open:checked + .burger-menu {
  transform: translate(0);
}
nav .burger input {
  display: none;
}
nav .burger-menu {
  display: flex;
  gap: 5px;
  align-content: center;
  flex-direction: column;
  position: absolute;
  background-color: black;
  width: 300px;
  top: 0;
  left: 0;
  padding: 20px;
  transition: 0.5s;
  transform: translateX(-100%);
}
nav .burger-menu .general-li > a {
  padding: 10px;
  background-color: rgba(128, 128, 128, 0.571);
}
nav .burger-menu .general-li > a:hover {
  color: black;
}
nav .burger-menu .child a:hover {
  color: rgb(100, 1, 1);
  padding-left: 15px;
}
nav .burger-menu .par > a {
  margin-top: 5px;
  background-color: rgba(77, 49, 49, 0.29);
}
nav .burger-menu .child2 a:hover {
  color: rgb(206, 213, 0);
  padding-left: 15px;
}
nav .burger-menu .bi-x-circle {
  color: white;
  font-size: 25px;
  cursor: pointer;
}
nav .burger-menu [for=close] {
  align-self: flex-end;
}
nav .burger-menu a {
  padding: 5px;
}

@media all and (max-width: 480px) {
  nav {
    top: 0;
    width: 480px;
  }
  nav .left-nav img {
    width: 200px;
  }
  nav .center-nav {
    display: none;
  }
  nav .right-nav {
    margin-top: 10px;
    font-size: 25px;
    gap: 20px;
  }
  nav .burger {
    display: block;
  }
  nav .burger .burger-menu {
    width: 85%;
  }
  nav .burger .burger-menu a {
    padding: 3px;
  }
}
header {
  background-image: url(../img/923420_main.jpg);
  background-position: top;
  background-size: cover;
  height: 600px;
}
header .container-header {
  margin: 0 auto;
  max-width: 1140px;
  position: relative;
}
header .left-header-div {
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  width: 50%;
  top: 150px;
}
header .left-header-div h1 {
  font-size: 74px;
  animation-duration: 2000ms;
  animation-delay: 0.1s;
  animation-name: slidein;
  animation-timing-function: linear;
  animation-iteration-count: 15;
}
header .left-header-div p {
  animation-name: slidein;
  font-size: larger;
  animation-delay: 0.1s;
  animation-duration: 2000ms;
  animation-iteration-count: 15;
}
header .left-header-div .heartbeat {
  position: absolute;
  animation: beat 6s linear infinite;
  width: 280px;
}
header .left-header-div .btn {
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.447);
  animation-name: slidein2;
  animation-delay: 0.1s;
  animation-duration: 2000ms;
  animation-iteration-count: 15;
  overflow: hidden;
  width: 150px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 22px;
  position: relative;
  z-index: 1;
}
header .left-header-div .btn:hover::before {
  transform: translateX(0);
}
header .left-header-div .btn-1::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: black;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  z-index: -1;
  transition: transform 0.5s;
}
header .right-header-div {
  position: absolute;
  top: -100px;
  left: 150%;
}

@keyframes beat {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  40% {
    transform: scale(1.4);
    opacity: 1;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  80% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slidein2 {
  0% {
    transform: translateX(-350%);
    opacity: 0;
  }
  50% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
  }
}
@media all and (max-width: 480px) {
  header {
    width: 480px;
  }
  header .heartbeat {
    display: none;
  }
  header .left-header-div {
    gap: 25px;
    width: 100%;
    top: 40px;
    padding: 22px;
  }
  header .left-header-div h1 {
    font-size: 56px;
  }
  header .left-header-div p {
    animation-name: slidein;
    font-size: 22px;
  }
  header .left-header-div .btn {
    width: 100px;
  }
}
main {
  padding-bottom: 10px;
  background-color: rgba(68, 72, 72, 0.251);
}
main .container-main {
  max-width: 1140px;
  margin: 0 auto;
}
main .top-div-parent {
  padding: 50px 0;
  font-size: 30px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(41, 13, 1);
}
main .bottom-div-parent {
  display: flex;
  gap: 50px;
}
main .img-cards {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
main .img-cards .img-div {
  overflow: hidden;
}
main .img-cards .img-div:hover img {
  transform: scale(1.1);
}
main .img-cards a {
  color: rgb(41, 13, 1);
  font-size: 27px;
  font-weight: lighter;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main .img-cards span {
  font-size: 28px;
  background-color: rgb(202, 198, 181);
  padding: 10px;
  color: rgb(41, 13, 1);
  font-weight: 600;
}
main .img-cards img {
  transition: 1s;
  width: 100%;
  height: 500px;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
main .section2 {
  padding: 50px 100px;
}
main .gridBox {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
}
main .div1 img,
main .div2 img,
main .div3 img,
main .div4 img {
  width: 100%;
  height: 100%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 1s;
}
main .div1 {
  grid-column: 2 span;
  grid-row: 2 span;
}
main .div2 {
  grid-column: 1 span;
  grid-row: 2 span;
}
main .div1,
main .div2,
main .div3,
main .div4 {
  width: 100%;
  overflow: hidden;
}
main .div1:hover img,
main .div2:hover img,
main .div3:hover img,
main .div4:hover img {
  transform: scale(1.1);
}
main .top-text {
  text-align: center;
}
main .top-text h2 {
  padding: 20px 0;
  font-size: 45px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(41, 13, 1);
}
main .top-text p {
  font-size: 25px;
}
main .grid-box {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 70px;
}
main .grid-box .grid-btn {
  grid-column: 3 span;
}
main .grid-box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .grid-box .info {
  font-size: 20px;
  color: rgb(36, 43, 1);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
main .card {
  text-align: center;
  position: relative;
  transition: 1s;
}
main .card:hover .hover-div::before {
  transform: translateY(-100%);
  opacity: 1;
}
main .card:hover .transform-a {
  opacity: 1;
  transform: translateY(0);
}
main .card .transform-a {
  position: absolute;
  color: white;
  bottom: 6%;
  left: 42%;
  font-size: 20px;
  transition: 0.7s;
  opacity: 0;
  transform: translateY(300%);
}
main .card .hover-div::before {
  content: "";
  position: absolute;
  background-color: rgb(54, 48, 1);
  padding: 30px;
  bottom: -84px;
  left: 0;
  border-bottom: 4px solid rgb(40, 11, 1);
  overflow: hidden;
  width: 273px;
  height: 20px;
  z-index: 0;
  opacity: -2;
  transform: scaleY(-100%);
  transition: 0.7s;
}
main .cnt {
  max-width: 1140px;
  margin: 10% auto;
}
main .cnt .divs-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
main .cnt .divs-box .informat {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 70px;
  background-color: rgba(61, 7, 1, 0.877);
}
main .cnt .divs-box .informat a {
  width: 150px;
  height: 50px;
  color: white;
  border: 1px solid rgba(192, 192, 192, 0.358);
  padding: 13px;
  transition: ease-out 1s;
  font-size: 20px;
  box-shadow: inset 0 0 0 0 black;
  outline: none;
}
main .cnt .divs-box .informat a:hover {
  box-shadow: inset 300px 0 0 0 rgb(56, 1, 1);
}
main .cnt .divs-box .informat h2 {
  font-size: 45px;
}
main .cnt .divs-box .informat p {
  font-size: 19px;
}
main .cnt img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main .last-sec-div {
  margin-top: 50px;
  padding: 50px;
  display: grid;
  background-color: rgba(49, 35, 0, 0.888);
  grid-template-columns: repeat(3, 1fr);
}
main .last-sec-div .cards3 {
  justify-content: center;
  padding: 0 25px;
  display: flex;
  gap: 25px;
  flex-direction: column;
}
main .last-sec-div .cards3 .bi {
  font-size: 50px;
}
main .last-sec-div .cards3 .bi-shield-check {
  margin-left: 105px;
}
main .last-sec-div .cards3 h6 {
  font-size: 27px;
}
main .last-sec-div .cards3 p {
  font-size: 20px;
}

@media all and (max-width: 480px) {
  main {
    width: 480px;
    padding: 30px 30px 1px 30px;
  }
  main .top-div-parent {
    margin: -25px 0;
    font-size: 25px;
  }
  main .bottom-div-parent {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  main .img-cards {
    gap: 15px;
    width: 100%;
  }
  main .img-cards a {
    font-size: 25px;
  }
  main .img-cards span {
    font-size: 25px;
  }
  main .img-cards img {
    width: 100%;
    height: 100%;
  }
  main .gridBox {
    justify-content: center;
    display: grid;
    gap: 20px;
  }
  main .gridBox .div1 img,
  main .gridBox .div2 img,
  main .gridBox .div3 img,
  main .gridBox .div4 img {
    width: 100%;
    height: 500px;
  }
  main .gridBox .div1,
  main .gridBox .div2,
  main .gridBox .div3,
  main .gridBox .div4 {
    width: 400px;
    grid-template-columns: repeat(4, 1fr);
    grid-column: 4 span;
    grid-row: 1 span;
  }
  main .top-text {
    text-align: center;
  }
  main .top-text h2 {
    font-size: 32px;
  }
  main .top-text p {
    font-size: 22px;
  }
  main .grid-box {
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    gap: 100px;
  }
  main .grid-box .grid-btn {
    grid-column: 1 span;
  }
  main .grid-box img {
    width: 350px;
    height: 100%;
  }
  main .grid-box .info {
    font-size: 18px;
  }
  main .grid-box .card .hover-div::before {
    bottom: -84px;
    left: 8.5%;
    width: 289px;
  }
  main .cnt {
    max-width: 480px;
    margin: 20% auto;
    padding: 0 15px;
  }
  main .cnt .divs-box {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 1fr);
  }
  main .cnt .divs-box .informat {
    padding: 30px;
    gap: 20px;
  }
  main .cnt .divs-box .informat a {
    width: 130px;
    height: 50px;
    font-size: 19px;
  }
  main .cnt .divs-box .informat h2 {
    font-size: 41px;
  }
  main .cnt .divs-box .informat p {
    font-size: 19px;
  }
  main .cnt img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  main .last-sec-div {
    text-align: center;
    margin-top: 50px;
    padding: 5px 30px;
    grid-template-columns: repeat(1, 1fr);
  }
  main .last-sec-div .cards3 {
    padding: 25px;
    gap: 10px;
  }
  main .last-sec-div .cards3 .bi {
    font-size: 50px;
  }
  main .last-sec-div .cards3 .bi-shield-check {
    margin-right: 100px;
  }
  main .last-sec-div .cards3 h6 {
    font-size: 26px;
  }
  main .last-sec-div .cards3 p {
    font-size: 18px;
  }
}
footer {
  padding: 50px 0;
  background-color: black;
}
footer .container-ftr {
  max-width: 1140px;
  margin: 0 auto;
}
footer .ftr-cards {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
}
footer .ftr-cards img {
  width: 100%;
}
footer .ftr-cards p {
  text-align: center;
}
footer .ftr-cards a {
  font-size: 20px;
  padding: 5px 0;
  color: rgb(92, 91, 91);
  transition: 0.5s;
}
footer .ftr-cards a:hover {
  color: rgb(58, 1, 1);
  padding-left: 10px;
}
footer .ftr-cards h4 {
  font-size: 25px;
}
footer .grid-ftr {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  gap: 85px;
}
footer .last-grid {
  padding-top: 35px;
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
footer .last-grid .right {
  display: flex;
  justify-content: end;
  gap: 40px;
}
footer .last-grid .right a {
  font-size: 20px;
  color: white;
  transition: 0.7s;
}
footer .last-grid .right a:hover {
  color: rgb(58, 1, 1);
  transform: rotateY(180deg);
}

@media all and (max-width: 480px) {
  footer {
    width: 480px;
    padding: 40px 50px;
  }
  footer .ftr-cards h4 {
    font-size: 18px;
  }
  footer .grid-ftr {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }
  footer .grid-ftr img {
    width: 250px;
    margin-left: 60px;
  }
  footer .grid-ftr p {
    font-size: 12px;
  }
  footer .grid-ftr a {
    font-size: 15px;
  }
  footer .last-grid {
    padding-top: 30px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
  footer .last-grid .right {
    justify-content: start;
    gap: 40px;
  }
  footer .last-grid .right a {
    font-size: 15px;
  }
}
.orbit-spinner, .orbit-spinner * {
  box-sizing: border-box;
}

.orbit-spinner {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  perspective: 800px;
}

.orbit-spinner .orbit {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.orbit-spinner .orbit:nth-child(1) {
  left: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-one-animation 1200ms linear infinite;
  border-bottom: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(2) {
  right: 0%;
  top: 0%;
  animation: orbit-spinner-orbit-two-animation 1200ms linear infinite;
  border-right: 3px solid #ff1d5e;
}

.orbit-spinner .orbit:nth-child(3) {
  right: 0%;
  bottom: 0%;
  animation: orbit-spinner-orbit-three-animation 1200ms linear infinite;
  border-top: 3px solid #ff1d5e;
}

@keyframes orbit-spinner-orbit-one-animation {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}
@keyframes orbit-spinner-orbit-two-animation {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}
@keyframes orbit-spinner-orbit-three-animation {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}/*# sourceMappingURL=style.css.map */